<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Best Value Activities in Patagonia</title>

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <%= render 'layouts/header' %>

<!-- <script iframe-height="600" iframe-width="100%" iframe-src="https://story.mapme.com/c359d903-86e9-4d26-89e7-2007e3527d6b" src="https://hosting.mapme.com/story-embed.js"></script> -->

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <br>
                    <h2 class="section-heading">Top 7 Budget Activities in Patagonia</h2>
                    <p class="lead">In a world of overpriced tours and online packages that will suck your wallet dry, how is it possible to plan your trip while staying within your budget? Well look no further than this collection of the best value activities in Patagonia. This is the best of the best: the cheapest and most spectacular adventures. </p>

                    <h2 class="section-heading2">1. Hiking The Fitz Roy Loop</h2>

                    <p class="lead">With free entry and free campsites, bring your tent to El Chalten, Argentina and settle in for as long as you like with some of the world’s most breath-taking scenery. The only costs you’ll run into here are buying food for the hiking trail, which is dirt cheap and just a few hours of walking away. You can spend anywhere between 2 and 6 nights in nature’s wonderland taking in all of the glaciers, jagged peaks, and boundless views of nature. Cost: $5-6/Day </p>

                    <img class="img-responsive center-block" src="/assets/cerrotorre.jpg" alt="Cerro Torre, Los Glacieras National Park">
                    <span class="caption text-muted">Cerro Torre and Lago Torre, Los Glacieras National Park</span>

                    <h2 class="section-heading2">2. Trekking on Glacier Exploradores</h2>

                    <p class="lead">Without a doubt, one of Patagonia’s most unique opportunities is strapping on a sharp pair of crampons and hiking across one of the area’s storied glaciers. Although such a trip will set you back $200 or more in most places, on Chile’s Carretera Austral lies a mostly undiscovered gem that offers the same experience for a third of the price. In Puerto Rio Tranquilo you’ll find a dozen tour operators competing on price and offering a day trip to Glacier Exploradores for $45,000 Chilean Pesos. Work your way through the ever-changing tunnels and caverns of the melting ice before finding yourself deep within the glacier itself, surrounded by snow and ice. Cost: $67</p>

                    <img class="img-responsive" src="/assets/glacier2.jpg" alt="Glacier Exploradores">
                    <span class="caption text-muted">Trekking inside the eerie melting caverns of Glacier Exploradores outside of Puerto Rio Tranquilo, Chile</span>

                    <h2 class="section-heading2">3. Climb Volcano Quentrupillan</h2>

                    <p class="lead">Along Chile’s long coast lies a plethora of perfectly canonical volcanoes. These (mostly) dormant giants are the country’s addition to the Pacific’s Ring of Fire, a circle of tumultuous geological activity responsible for many of the world’s most violent Earthquakes. Find yourself on top of one of these snow-capped giants by hiking to the peak of Volcano Quentrupillan outside of Pucon. The day trip doesn’t require any previous climbing experience, just a pair of strong legs and a determined mindset. Prepare to be wowed by incredible views of the entire lake district, then turn around and ski or slide down the snowy slope!  Cost: $57</p>

                     <img class="img-responsive" src="/assets/volcano.png" alt="Volcano Quentrupillan">
                    <span class="caption text-muted">Volcano Quentrupillan outside of Pucon, Chile</span>

                    <h2 class="section-heading2">4. Hike "The W" at Torres del Paine</h2>

                    <p class="lead">One of the most popular hikes in the world has only achieved such a superlative due to its outstanding scenery. Everyday on The W (or the longer, more economical O) will leave you feeling small under the dramatic scenery of mother nature and her spectacular views. Take in the tremendous Glacier Grey stretching down from the Patagonian ice field, explore all the different angles of the chain of mountains that snakes through the park, and wake up before dawn for the poster-worthy shot of the storied Torres at sunrise. Cost: $25-29/day </p>

                    <img class="img-responsive" src="/assets/thew-min.jpg" alt="Torres del Paine">
                    <span class="caption text-muted">Valley Frances in Torres del Paine National Park</span>

                    <img class="img-responsive" src="/assets/torres.png" alt="Torres del Paine">
                    <span class="caption text-muted">Sunrise at the infamous Torres</span>


                    <h2 class="section-heading2">5. Rafting The Futaleufu River</h2>

                    <p class="lead">There are rivers, and then there’s the Futaleufu. These Class V rapids will leave you reeling, with the adrenaline pumping as huge waves crash into the boat. Rafting or Kayaking on the world-class swells of the Futaleufu river is an experience you won’t soon forget. Not only that, but the whole trip is half the price of a rafting trip out of Bariloche, Argentina, just a day’s drive in distance yet a world away from the small town chilled-out vibe that ensconces travelers in Futaleufu. Cost: $50</p>

                    <img class="img-responsive center-block" src="/assets/rafting-min.png" alt="Rafting on the Futaelufu River">
                    <span class="caption text-muted">Rafting on the Futaleufu River</span>

                    <h2 class="section-heading2">6. Marvel at The Perito Moreno Glacier</h2>

                    <p class="lead">The most dynamic and accessible of Patagonia’s glaciers, the Perito Moreno Glacier never disappoints. Regardless of how many glaciers you’ve seen before, the five kilometer wide sheer wall of ice will astound you with its size and beauty. Although entry to the park is an expensive 260 pesos, it would be criminal to leave it off of any “best of” list. Anyways, you’ll undoubtedly think it was worth the price of admission once you get close enough to appreciate the size of this monstrosity. Cost: $33</p>

                    <img class="img-responsive" src="/assets/peritomorenoglacier-min.jpg" alt="Perito Moreno Glacier">
                    <span class="caption text-muted">Perito Moreno Glacier</span>

                    <h2 class="section-heading2">7. Cruise Through Fjords on The Naviera Austral</h2>

                    <p class="lead">If you search online for boat trips in Patagonia, you’ll most likely come across the Navimag Ferry, which offers a beautiful trip for three days through the fjords of Chile. Yet even the cheapest passage on the boat is $450, making it out of range for most backpackers. Much less publicized but much more reasonably priced is the Naviera Austral, where you’ll be treated to many of the same views of cruising through the immense Patagonian fjords for just $24. The boat is populated mostly by fisherman heading to their tiny villages, adding to the experience and leaving you wondering how they survive in such remote outposts of the world. Cost: $24</p>

                    <img class="img-responsive" src="/assets/naviera-min.jpg" alt="Naviera Austral">
                    <span class="caption text-muted">View from the deck of The Naviera Austral</span>

                    <hr>

                    <p class="lead">Where will your adventure in Patagonia take you? Find out the best places to visit and how to see it all on a budget with your copy of <%= link_to "Patagonia On A Budget", "/articles/buy" %></p>


                </div>
            </div>
        </div>
    </article>

    <hr>

    <div class="jumbotron2"><h3>Related Articles</h3></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"><img style="max-height:200px" class="img-responsive center-block" src="/assets/packing-min.png" alt="Recommended Products for traveling in Patagonia"><br><h5><%= link_to "Don't leave home without it! The products you need to purchase online before heading out for your trip.", "/articles/products" %></h5></div>

            <div class="col-md-4"><img style="max-height:200px" class="img-responsive center-block" src="/assets/hitchhiking2-min.jpg" alt="Hitchhiking Rules and Tips for Patagonia"><br><h5><%= link_to "How To Go Hitchhiking in Patagonia: The cheapest and most fun way to get around!", "/articles/hitchhiking" %></h5></div>

            <div class="col-md-4"><img style="max-height:200px"  class="img-responsive center-block" src="/assets/camping-min.png" alt="Accommodation in Patagonia"><br><h5><%= link_to "Find deals on accommodation and discover the best campgrounds. Don't break the bank on expensive hostels.", "/articles/accommodation" %></h5></div>
        </div>
    </div>
    <hr>
   <%= render 'layouts/signup' %> 
   <%= render 'layouts/footer' %>

</body>

</html>
