<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Learn about The Most Useful Apps for Traveling in Patagonia in this travel guide for backpackers and independent travelers.">
    <meta name="keywords" content="Patagonia, Chile, Argentina, backpacking, budget, cheap, travel, hiking, camping, hostels, hitchhiking, book">
    <meta name="author" content="Matt Morgante">

    <title>The Most Useful Apps for Traveling in Patagonia</title>

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

 <%= render 'layouts/header' %>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <br>
                    <h1 class="section-heading">The Most Useful Apps for Traveling in Patagonia</h1>
                    <hr>
                    <h2 class="section-heading2">1. iOverlander (iOS and Android, FREE)</h2>
                    <p class="lead">A spectacular community of good samaritans has contributed to this app, making it possible to find and rate campsites all over the world. Their Patagonia database is extensive, featuring an established campground in almost every town. Most of the apps users and reviewers are “overlanders”, travelers who have cars, so beware of wild campsites like parking lots that are not suitable for backpackers.</p>

                    <img class="img-responsive" style="    max-width: 50%;
    margin-left: 20%;"src="/assets/ioverlander-1.png" alt="ioverlander-app">

                    <p class="lead">
                    The benefits of this app are crucial when searching for the best deal in each town. Usually reviews contain the exact location and a description, price estimations, and details about the amenities. </p>

                    <img class="img-responsive" style="max-width: 50%;margin-left: 20%;"src="/assets/ioverlander-2.png" alt="ioverlander-app">


                    <hr>
                    <h2 class="section-heading2">2. Maps.me (iOS and Android, FREE)</h2>

                    <p class="lead">An offline maps app that functions perfectly for any traveler, Maps.me offers directions, GPS location, and even has campsites and grocery stores in many small towns. This app is indispensable for drivers, travelers, and hitchhikers who want to know how far the next destination is.</p>

                    <img class="img-responsive" style="max-width: 50%;margin-left: 20%;"src="/assets/maps-me-1.png" alt="maps-me">

                    <p class="lead">At this point, you might be saying "So what, Google Maps does all the same things." But because Maps.me forces you to download all of the data and turn-by-turn navigation ahead of time, so you’ll never have to worry about losing your way if you lose connection to wi-fi or cell service. You can even download hiking trails before setting off on a multi-day trekking trip!</p>

                    <img class="img-responsive" style="max-width: 50%;margin-left: 20%;"src="/assets/maps-me-2.png" alt="maps-me">

                    <hr>

                    <h2 class="section-heading2">3. TrailWallet (iOS only, $4.99, first 20 items free)</h2>

                    <p class="lead">The easiest and simplest budgeting app for travelers, Trail Wallet can be your bank account’s life saver and the ultimate tool to keep your budget in check. You can add items to your daily expenses in various categories, creating a running tally of how much you’ve spent per day. The app also provides breakdowns for how expensive different portions of your trip were. </p>

                    <img class="img-responsive" style="max-width: 50%;margin-left: 20%;"src="/assets/trail-wallet-1.png" alt="trail-wallet">

                    <p class="lead">For those who choose to stick to it, this app can be exceptionally powerful. Staying updated on how you’re doing against your goals can be a great mental reminder, hopefully helping your trip last longer.</p>

                    <img class="img-responsive" style="max-width: 50%;margin-left: 20%;"src="/assets/trail-wallet-2.png" alt="trail-wallet">


                    <h2 class="section-heading2">4. Duolingo (iOS and Android, Free) </h2>

                    <p class="lead">Practice some Spanish before you arrive in South America or once you're on the road with Duolingo, the world’s most popular language learning app.</p>


                    <h2 class="section-heading2">5. Hostelworld (iOS and Android, FREE)</h2>

                    <p class="lead">For finding the highest rated hostels in each town and their availability use the Hostelworld app or webpage. The reviews can be really helpful for determining which places are the best to stay, but if there’s plenty of space be wary of booking online as you may get a more expensive price.</p>

                    <h2 class="section-heading2">5. Booking.com (iOS and Android, FREE)</h2>

                    <p class="lead">Similar to hostelworld but featuring a more extensive property database of suites, private rooms, and apartments, I love Booking.com when traveling in Patagonia for last minute deals: check the day before you arrive in a town and you may find great value. </p>

                    <h2 class="section-heading2">6. TripAdvisor (iOS and Android, FREE)</h2>

                    <p class="lead">Best suited for determining the top things to do in each city or region, the TripAdvisor app recently added a download feature that allows users to view reviews, maps of nearby activities, and other information in offline mode. This can be incredibly helpful for figuring out what you want to do upon arriving in a destination with limited wi-fi options. </p>


                    <h2 class="section-heading2">7. WindGuru</h2>

                    <p class="lead">Last but definitely not least is not an app but an indispensable website for hikers. Windguru is a free site where you can see breakdowns of the weather including temperature, wind speed, wind gusts, and cloud coverage. It’s widely used in Patagonia and incredibly helpful for avoiding particularly brutal weather days or finding clear skies for the best views.</p>

                    <img class="img-responsive" style=""src="/assets/windguru.png" alt="windguru">

                    <p class="lead">With these apps downloaded on your phone, you should be well-equipped to take on even the most difficult situations while traveling in Patagonia!</p>


                </div>
            </div>
        </div>
    </article>

    <hr>

    <div class="jumbotron2"><h3>Related Articles</h3></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"><img style="max-height:200px" class="img-responsive center-block" src="/assets/budget.png" alt="Patagonia Budget Travel"><br><h5><%= link_to "The best websites for finding a flight to Patagonia", "/articles/websites" %></h5></div>

            <div class="col-md-4"><img style="max-height:200px" class="img-responsive center-block" src="/assets/hitchhiking2-min.jpg" alt="Hitchhiking Rules and Tips for Patagonia"><br><h5><%= link_to "How To Go Hitchhiking in Patagonia: The cheapest and most fun way to get around!", "/articles/hitchhiking" %></h5></div>

            <div class="col-md-4"><img style="max-height:200px"  class="img-responsive center-block" src="/assets/rafting-min.jpg" alt="Rafting in Patagonia"><br><h5><%= link_to "Where will your money go the furthest? Make sure you know the Top 10 Budget Activities in Patagonia.", "/articles/activities" %></h5></div>
        </div>
    </div>
    <hr>

  <%= render 'layouts/footer' %>

</body>

</html>
