<%
meta title: "7 Best Campsites in Patagonia",
     description: "These are the most beautiful and budget friendly campsites in Patagonia",
     keywords: %w(budget travel patagonia torres del paine camping)
%>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>7 Best Campsites in Patagonia</title>

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

 <%= render 'layouts/header' %>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <br>
                    <h1 class="section-heading">7 Best Campsites in Patagonia</h1>

                    <hr>

                    <h2 class="section-heading">El Cani Reserve, Pucon, Chile</h2>

                    <p class="lead">Although most trekkers aim to reach the summit of El Cani on a day trip, outsize rewards are there for those that stay the night. High above the lake district of Chile, this nature reserve looks out over a striking vista. </p>

                    <p class="lead">By camping near the top of the mountain, you can glimpse a panorama view of sunset and/or sunrise, as the hues of the horizon glance across Volcanoes and rolling hillsides of forest with gorgeous rich colors.</p>

                    <img class="img-responsive center-block vertical-image" src="/assets/elcani.png" alt="El Cani at sunrise">
                    <br>

                   

                    <h2 class="section-heading">Campground Italiano, Torres del Paine National Park</h2>

                    <p class="lead">Set amidst the wild forests of the legendary valley frances, Campground Italiano serves as the midway marker for trekkers heading out on "The W." After a heavy day of hiking, here you can string up a hammock, make tent amongst a wide diversity of trees, and meet some fellow travelers while preparing dinner.</p>

                    <p class="lead">More impressively, take some time to sit along the banks of the roaring stream next to the campsite. Chances are, you'll sight a few avalanches off of the imposing face of Paine Grande while the sun sets over your shoulders. </p>

                    <a href="#">
                        <img class="img-responsive center-block vertical-image" src="/assets/italiano-2.png" alt="Cochamo valley">
                        </a>
                    <br>

                    <h2 class="section-heading">Refugio Cochamo, Cochamo Valley</h2>

                    <p class="lead">A stunning five hours from the nearest road, just getting to Refugio Cochamo is a journey of epic proportions. You'll have to trek upwards through a oft-muddy path that can border on swamp-like depending on the weather.</p>

                    <p class="lead">Yet let me assure you that the struggle is worth it! Atop the trail you'll find a paradise of granite domes and sheer cliffs, which doubles as the epicenter for the Chilean rock climbing community. Feel free to post up here for days, weeks, or even a month: I guarantee you won't be able to climb all the various routes. Even if you're not an experienced climber, the hiking options are first-class.</p>

                        <img class="img-responsive center-block vertical-image" src="/assets/banner-bg.jpg" alt="Cochamo valley">
                    <br>


                    <h2 class="section-heading">Rio Blanco, Los Glaciares National Park</h2>

                    <p class="lead">Just outside of El Chalten, Argentina, you'll find one of the world's most beautiful national parks. With plenty of free campsites, you may find it diffcult to leave Los Glaciares National Park.</p>

                    <p class="lead">Of all the camping possibilities though, this one definitely takes the cake. Just an hour's hike from the Fitz Roy massif, it's the perfect spot to take in Sunrise on this gorgeous mountaintop. Just make sure you set your alarm early enough, as the climb to the top is incredibly steep!</p>

                        <img class="img-responsive center-block vertical-image" src="/assets/rio-blanco.png" alt="View from Rio Blano campsite at sunrise">
                    <br>

                     <h2 class="section-heading">Torres del Simpson, Carretera Austral</h2>

                    <p class="lead">Nestled into the foothills of the Carretera Austral right between two national parks is a remote campground that few backpackers have the opportunity to discover. Finding the location is difficult and getting there is an additional challenge, but the rewards make it worth it.</p>

                    <p class="lead">Run by the affable Nacho and his wife, this campground doubles as an organic vegetable garden, meaning you'll never be hungry for fresh and delicious food. If you find yourself bored with all the wondrous hiking, fishing, and kayaking options near by, then just challenge Nacho to a game of Ping Pong or ask him to tune up the guitar for a night of yerba mate tea and campground songs.</p>

                        <img class="img-responsive center-block vertical-image" src="/assets/simpson.png" alt="Torres del Simpson vegetable garden">
                    <br>

                    <h2 class="section-heading">Casa de Momo, Ushuaia</h2>

                    <p class="lead">Gracing this list not for its beauty but rather its usefulness, Casa de Momo is the only hostel in Ushuaia that allows campers to pitch their tents. Throw in the generous use of an indoor kitchen, and this is far and away Ushuaia's best deal for accomodation.</p>

                    <p class="lead">In a city where a simple twin bed in a cramped dorm room can run you close to $30 USD a night, Casa de Momo is the perfect way to save a few bucks while still keeping yourself warm in Patagonia's chilliest destination.</p>

                </div>
            </div>
        </div>
    </article>

    <hr>

    <div class="jumbotron2"><h3>Related Articles</h3></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"><img style="max-height:200px" class="img-responsive center-block" src="/assets/budget.png" alt="Patagonia Budget Travel"><br><h5><%= link_to "How much you can expect to spend in each category during a trip to Patagonia", "/articles/budget" %></h5></div>

            <div class="col-md-4"><img style="max-height:200px" class="img-responsive center-block" src="/assets/packing-min.png" alt="Recommended Products for traveling in Patagonia"><br><h5><%= link_to "Don't leave home without it! The products you need to purchase online before heading out for your trip.", "/articles/packing" %></h5></div>

            <div class="col-md-4"><img style="max-height:200px"  class="img-responsive center-block" src="/assets/rafting-min.jpg" alt="Rafting in Patagonia"><br><h5><%= link_to "Where will your money go the furthest? Make sure you know the Top 10 Budget Activities in Patagonia.", "/articles/activities" %></h5></div>
        </div>
    </div>
    <hr>

  <%= render 'layouts/footer' %>

</body>

</html>
