<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>How I traveled in Patagonia on $30/day</title>

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

 <%= render 'layouts/header' %>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <br>
                    <h2 class="section-heading">How I Traveled for 3 Months in Patagonia on less than $30/day</h2>

                    <p class="lead">In October of 2015 I was backpacking through South America, following the Andes mountains South down the Western portion of the continent. As my girlfriend and I made travel plans for the next few months, we had an important decision to make: should we go to Patagonia?</p>

                    <p class="lead">After traveling for a year, we were running thin on funds. If the prices in the Lonely Planet and Tripadvisor were accurate, heading all the way South meant we'd end up having to cut our trip short.</p>


                    <p class="lead">Yet as we progressed down the Andes, something interesting happened. Traveling in Patagonia wasn't nearly as expensive as we were led to believe. By investing in camping gear, asking fellow travelers for tips, and price shopping in each town before making purchasing decisions, we ended up spending just a fraction of the money that blogs and guide books told us it would cost. </p>

                    <p class="lead">Fast forward three months later and we had traversed the entire length and width of Patagonia. From the lakes district South along Route 40, through Tierra del Fuego all the way to Ushuaia, and back North via the Carretera Austral, we explored every awe-inspiring destination. Over 92 days we spent just $26 per day, meticulously tracked in our budgeting app and sparking the inspiration for this project.</p>

                    <p class="lead">In <%= link_to "Patagonia On A Budget", "/subscribers" %>, I share the strategies, prices, and detailed information you need to replicate this trip and have your own adventure. In this blog post, I'll explain exactly where our money went.</p>

                    <p class="lead">Let's start by breaking this down by category. Hover over each section to see how much we spent, on average, in each category:</p>

                    <%= render 'layouts/budget' %>

                    <h2 class="section-heading2">1. Accommodation</h2>

                    <p class="lead">Our accommodation category featured a combination of hostel dorm rooms, private rooms, paid campgrounds, and free campings. Hostel dorm rooms vary throughout the region, going for as cheap as $9/night in the lakes district and jumping up to $16 or more in the most popular destinations. A few times we found a good deal on private rooms and snagged one for $15 per person, but in many hostels privacy was significantly more expensive.</p>

                    <p class="lead">Campgrounds in Patagonia generally charge a flat fee per person, regardless of how many bodies you're stuffing into a tent. Across the entire region the costs never ranged very wide, it was almost always $4-6 per person. In a few national parks we encountered free campgrounds, which was always a nice surprise. For more strategies on saving money on sleeping, check out my other blog post: <%= link_to "Finding Cheap Accommodation", "/articles/accommodation" %>.</p> 

                    <h2 class="section-heading2">2. Food and Drink</h2>
                    
                    <p class="lead">We spent about $10 per day on food and drink, which includes a fair amount of eating out at restaurants and quite a few bottles of beer and wine. However, restaurants in the most popular tourist destinations definitely push a pretty high markup. We tried to keep our budget in shape by cooking whenever possible.</p>

                    <p class="lead">My favorite foods in Chile and Argentina were definitely empanadas, the baked or fried pastries stuffed with meat, cheese, and vegetables. An empanada was the perfect afternoon snack, coming in around $1 each. In the book I outline the exact strategies you need for saving money in restaurants and grocery stores, as well as the price of many basic items.</p>

                    <p class="lead">In Patagonia, any non-vegetarian visitor to Chile and Argentina must avail themselves to the wonders of an asado. These affairs can run the gamut from fancy restaurants to Sunday afternoon family events, but one thing remains the constant: high quality beef or lamb slow-roasted over an open fire. The perfect companion to a glass of Argentinian Malbec, don't miss out on an asado if you're traveling to Patagonia.</p>

                    <h2 class="section-heading2">3. Activities</h2>

                    <p class="lead">For me, this was the most surprising category. Somehow over 3 months of exotic and adrenaline pumping adventures, we only spent a few dollars a day on things like group tours, entrances to national parks, and rental fees.</p>

                    <p class="lead">A lot of the logic here boils down to a simple fact: nature is free. For example, consider a hike we did in Chile through Cerro Castillo National Park. Entrance was $5,000 pesos, or about $7 USD. But in exchange for our payment, we got access to four days of incredible natural beauty: massive glaciers, dozens of waterfalls, and a network of free campgrounds. Outside of the entrance fee and groceries we didn't spend anything else, mostly because there was nowhere to even spend money!</p>

                    <p class="lead">Many travelers in Patagonia, especially those on shorter trips, opt for group tours. Yet we found great success in self-guiding ourselves through almost every activity in the region, as it resulted in more freedom and huge money-saving. In exchange for just organizing a hiking guide and booking your accommodation, companies charge hundreds or even thousands of dollars! For more information on the cost of every major activity and the best things to do in each city, read <%= link_to "Patagonia On A Budget", "/subscribers" %>.</p>


                    <h2 class="section-heading2">4. Transportation</h2>

                    <p class="lead">This is the one category that will fluctuate the most depending on how you choose to plan your trip to Patagonia. Encouraged by locals and fueled by the desire to understand the true nature of the land and people who lived there, we mostly opted to hitchhike between destinations. This yielded a number of eye-opening experiences, dozens of new friends, and a crash course in the world-renowned Patagonian hospitality. For more information on why hitchhiking is so popular in Patagonia and how to do it yourself, check out <%= link_to "How to Hitchhike", "/articles/hitchhiking" %>. I definitely encourage fellow travelers to try hitchhiking: if you've got the temperament to withstand the initial waiting and rejection, it can hold outsize rewards.</p>

                    <p class="lead">Busses and flights are also widely available for travelers looking to navigate the region with a little more ease. In the book I outline exactly what to expect from the bus companies, the prices and timetables between specific destinations, and the best resources for finding cheap flights to Patagonia.</p>

                    <h2 class="section-heading2">5. Other</h2>

                    <p class="lead">On any trip, you're destined to run into unforeseen expenses. Things like replacing toiletries, getting your laundry done, and purchasing medicine are always popping up. Thankfully, there are pharmacies and laundromats in every town along the way.</p>
                   
                </div>
            </div>
        </div>
    </article>

    <hr>

    <div class="jumbotron2"><h3>Related Articles</h3></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"><img style="max-height:200px" class="img-responsive center-block" src="/assets/packing-min.png" alt="Recommended Products for traveling in Patagonia"><br><h5><%= link_to "Don't leave home without it! The products you need to purchase online before heading out for your trip.", "/articles/packing" %></h5></div>

            <div class="col-md-4"><img style="max-height:200px" class="img-responsive center-block" src="/assets/hitchhiking2-min.jpg" alt="Hitchhiking Rules and Tips for Patagonia"><br><h5><%= link_to "How To Go Hitchhiking in Patagonia: The cheapest and most fun way to get around!", "/articles/hitchhiking" %></h5></div>

            <div class="col-md-4"><img style="max-height:200px"  class="img-responsive center-block" src="/assets/rafting-min.jpg" alt="Rafting in Patagonia"><br><h5><%= link_to "Where will your money go the furthest? Make sure you know the Top 7 Budget Activities in Patagonia.", "/articles/activities" %></h5></div>
        </div>
    </div>
    <hr>
  <%= render 'layouts/signup' %>

  <%= render 'layouts/footer' %>

</body>

</html>
