<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>How to Hitchhike in Patagonia</title>

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

 <%= render 'layouts/header' %>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <br>
                    <h2 class="section-heading">How to Hitchhike in Patagonia</h2>
                    <p class="lead">Hitchhiking in Patagonia is often easy, usually very safe, and occasionally even faster than taking the bus. It’s not as popular among international travelers as it is among locals, but I want to encourage more people to give it a try. Across six months, I hitchhiked the entire length of Chile and Argentina, almost 10000 KMs. Although the journey wasn’t without it’s tough times, I made it to my goal destination more than 90% of the time and saved hundreds of dollars.</p>

                    <p class="lead">Sure, hitchhiking is a tremendous money saver, but more importantly it offers a different take on traveling: you can learn about the areas you’re riding through, meet locals who are friendly and hospitable, and open your eyes to unique aspects of Patagonian culture.</p>

                    <p class="lead">Throughout <strong><%= link_to "Patagonia On A Budget", "/subscribers" %></strong> I outline the best practices for hitchhiking between specific destinations, but consider this your painless guide for grabbing a ride, even if you’ve never done it before. Here are some general rules of thumb (pun definitely intended):</p>

                    <h2 class="section-heading2">How can I catch a ride?</h2>

                    <ul>
                        <li><p class="lead">The best place to hitchhike is on the outskirts of a town, where all the through-traffic headed in the same direction is guaranteed to pass by. Get there by walking (if it’s a small village) or taking the local bus (if it’s a big town).</p></li>

                        <li><p class="lead">Position yourself far enough away from the road that you’re not a safety hazard, but close enough to the curb that drivers can see you from far away.</p></li>

                        <li><p class="lead">Pile your bags and belongings next to you, so that drivers know you’re a traveler. Locals are more likely to pick up international visitors.</p></li>

                        <li><p class="lead">Stick your thumb out and put on a friendly face as cars start to approach. A written sign can be helpful, but is certainly not necessary.</p></li>

                        <li><p class="lead">Bring plenty of food and water. You never know where the next stopping point will be, and sometimes it can be over 250 KMs to the next town in Patagonia. p></li>

                        <li><p class="lead">Dress warmly and be prepared for anything - the conditions and weather can range wildly. Even if it looks calm in the morning it might be snowing by noon, so check the forecast. </p></li>

                        <li><p class="lead">If there are other people in the same place trying to catch a ride, follow the #1 rule of hitchhiking: don't be an asshole. Never position yourself in front of someone who was waiting before you. Instead, walk up and say hello, then walk and wait a bit past them. If you stick together in one big group, cars may not stop if they don’t have enough room for everyone.</p></li>
                    </ul>

                        <a href="#">
                        <img class="img-responsive center-block vertical-image" src="/assets/hitchhiking2-min.jpg" alt="hitchhiking in Patagonia">
                        </a>
                        <span class="caption text-muted">Hitchhiking on the fabled Route 40 in Argentinian Patagonia. We covered more than 1500 kilometers for free in 3 days!</span>
                        <br>

                    <h2 class="section-heading2">What should I do when someone pulls over?</h2>

                    <ul>

                        <li><p class="lead">The most important aspect of feeling safe and comfortable while hitchhiking is speaking a little bit of the local language. Even a few phrases can go a long way, so check out the Spanish quickstart guide in the book. It includes helpful phrases for introducing yourself and conveying where you’re trying to go.</p></li>

                        <li><p class="lead">Ask the driver where they’re going and whether it’s ok if you come with.</p></li>

                        <li><p class="lead">Once you’re in the car, ask their name and where they’re from. Usually drivers pull over because they enjoy talking to other people and learning about foreign cultures.</p></li>
                    </ul>

                    <h2 class="section-heading2">What should I do when I get out?</h2>

                    <ul>

                        <li><p class="lead">Ask the driver to drop you off at a place that’s good for hitchhiking. Look for gas stations and intersections on the way out of town, places where people have to slow down anyway.</p></li>

                        <li><p class="lead">If they drop you off in the next town, follow your location using GPS to find the way onwards.</p></li>

                        <li><p class="lead">Thank them for the ride! Bringing along chocolates, snacks, or Yerba Mate is always appreciated!</p></li>

                    </ul>

                    <h2 class="section-heading2">How can I stay safe?</h2>

                    <ul>
                        <li><p class="lead">Except in densely populated areas, it is inadvisable to hitchhike without a tent and proper accommodation arrangements. Although it’s rare to finish the night in the middle of nowhere, it is possible and you don’t want to be left without proper shelter.</p></li>

                        <li><p class="lead">As a general rule of thumb, attempt to go no further than 400 KMs in a single day while hitchhiking. Any more than that and you risk getting stranded on the side of the road late at night. </p></li>

                        <li><p class="lead">The long summer days at the tip of the Southern Hemisphere mean the sun sets after 10PM and you can catch rides late into the evening. That being said, never hitchhike after dark; it’s simply too dangerous.</p></li>

                        <li><p class="lead">It’s best to hitchhike in pairs or small groups. With more than two people it can be tough to find a car with enough room, so if you’re in a big group be prepared to split up. If you're travelling solo, ask around at hostels and campsites to see if anyone wants to accompany you.</p></li>     
                    </ul>                   



                    <p class="lead">What makes me qualified to provide this advice? During 6 months of traveling in Chile in Argentina, I hitchhiked over 6,000 miles (10,000 kilometers). It was one of the most rewarding experiences of my life, not only because of all the free transport while I was almost broke, but also because of all the amazing people I met along the way.</p>

                    <p class="lead">Cars can be few and far between on the dusty roads of Patagonia, but I was shocked at how frequently people would pull over and light up my day with their stories and friendliness. Through this adventure, I believe hitchhiking in Chile and Argentina should be more accessible to travelers. Give it a try, you never know who you'll meet!</p>

                    <p class="lead">For detailed instructions on hitchhiking between all the different destinations in Patagonia, traffic flow information, and a Spanish Quickstart Guide, check out <strong><%= link_to "Patagonia On A Budget", "/subscribers" %></strong></p>
                   
                </div>
            </div>
        </div>
    </article>

    <hr>

    <div class="jumbotron2"><h3>Related Articles</h3></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"><img style="max-height:200px" class="img-responsive center-block" src="/assets/budget.png" alt="Patagonia Budget Travel"><br><h5><%= link_to "How much you can expect to spend in each category during a trip to Patagonia", "/articles/budget" %></h5></div>

            <div class="col-md-4"><img style="max-height:200px" class="img-responsive center-block" src="/assets/packing-min.png" alt="Recommended Products for traveling in Patagonia"><br><h5><%= link_to "Don't leave home without it! The products you need to purchase online before heading out for your trip.", "/articles/packing" %></h5></div>

            <div class="col-md-4"><img style="max-height:200px"  class="img-responsive center-block" src="/assets/rafting-min.jpg" alt="Rafting in Patagonia"><br><h5><%= link_to "Where will your money go the furthest? Make sure you know the Top 7 Budget Activities in Patagonia.", "/articles/activities" %></h5></div>
        </div>
    </div>
    <hr>

  <%= render 'layouts/signup' %>

  <%= render 'layouts/footer' %>

</body>

</html>
