<%
meta title: "Patagonia Budget Travel Guide",
     description: "Backpacking and Independent travel in Chile and Argentina",
     keywords: %w(budget travel patagonia)
%>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Patagonia On A Budget</title>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
  <%= render 'layouts/header' %>
    <% if flash.present? %>
      <div class="jumbotron3">
        <% flash.each do |name, msg| -%>
          <h4><%= content_tag :div, msg, class: name %></h4>
        <% end %>
      </div>
    <% end %>

    <!-- Header -->
    <div class="intro-header2">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Patagonia On A Budget</h1>
                        <h3>Have Your Adventure - For $30 A Day</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <%= link_to "Buy the Book", "/subscribers", class: "btn btn-default btn-lg"%>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Main Content -->
    <div class="jumbotron2">
        <h2>Blog Posts</h2>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="post-preview">
                    <h2 class="post-title">
                          <%= link_to "How I spent $30/day in Patagonia", "/articles/budget" %>
                    </h2>
                    <h4 class="post-subtitle">
                      How much you can expect to spend by category
                    </h4>
                    </a>
                     <hr>
                </div>
                <div class="post-preview">
                    <h2 class="post-title">
                          <%= link_to "Top 7 Budget Activities", "/articles/activities" %>
                    </h2>
                    <h4 class="post-subtitle">
                      Where will your money go the furthest? 
                    </h4>
                    </a>
                </div>
                <hr>
                <div class="post-preview">    
                    <h2 class="post-title">
                          <%= link_to "How To Go Hitchhiking in Patagonia", "/articles/hitchhiking" %>
                    </h2>
                    <h4 class="post-subtitle">
                          The cheapest and most fun way to get around! 
                    </h4>
                    </a>
                </div>
                <hr>
                 <div class="post-preview">    
                    <h2 class="post-title">
                          <%= link_to "Finding Cheap Accommodation", "/articles/accommodation" %>
                    </h2>
                    <h4 class="post-subtitle">
                          Don't break the bank on expensive hostels and packaged tours 
                    </h4>
                    </a>
                </div>
                <hr>
                <div class="post-preview">    
                    <h2 class="post-title">
                          <%= link_to "Recommended Products", "/articles/packing" %>
                    </h2>
                    <h4 class="post-subtitle">
                          What to buy online before departing for Patagonia
                    </h4>
                    </a>
                </div>
                <!-- <div class="post-preview">    
                    <h2 class="post-title">
                          <%= link_to "How to find cheap flights to South America and Patagonia", "/articles/flights" %>
                    </h2>
                    <h4 class="post-subtitle">
                          Use online tools and travel hacking resources to your advantage 
                    </h4>
                    </a>
                </div>
                 <hr>
                <div class="post-preview">    
                    <h2 class="post-title">
                          <%= link_to "The Best Destinations in Chilean Patagonia", "/articles/chile" %>
                    </h2>
                    <h4 class="post-subtitle">
                          Where are the can't miss spots in Chilean Patagonia?  
                    </h4>
                    </a>
                </div>
                
                     <hr>
                <div class="post-preview">    
                    <h2 class="post-title">
                          <%= link_to "The Best Destinations in Argentinian Patagonia", "/articles/argentina" %>
                    </h2>
                    <h4 class="post-subtitle">
                          Where are the can't miss spots in Argentinian Patagonia?  
                    </h4>
                    </a>
                </div>
                 <hr>
                <div class="post-preview">    
                    <h2 class="post-title">
                          <%= link_to "Camping Gear for Patagonia", "/articles/camping" %>
                    </h2>
                    <h4 class="post-subtitle">
                          Be prepared for camping with the essential gear
                    </h4>
                    </a>
                </div>
                <hr>
                <div class="post-preview">    
                    <h2 class="post-title">
                          <%= link_to "What to bring when traveling in Patagonia", "/articles/packing" %>
                    </h2>
                    <h4 class="post-subtitle">
                          The comprehesive yet minimalist packing list for backpacking in Patagonia
                    </h4>
                    </a>
                </div>
                 <hr>
                   <div class="post-preview">    
                    <h2 class="post-title">
                          <%= link_to "The Best Hikes in Patagonia", "/articles/hiking" %>
                    </h2>
                    <h4 class="post-subtitle">
                          What are the best multi-day hiking and camping trips in Patagonia? 
                    </h4>
                    </a>
                </div>
                <hr>
                  <div class="post-preview">    
                    <h2 class="post-title">
                          <%= link_to "The Best Apps", "/articles/apps" %>
                    </h2>
                    <h4 class="post-subtitle">
                          Use technology to your advantage with these must-have apps for budget travelers!
                    </h4>
                    </a>
                </div>
                <hr>
                <div class="post-preview">    
                    <h2 class="post-title">
                          <%= link_to "Why it's never been cheaper to travel in Argentina", "/articles/argentinabudget" %>
                    </h2>
                    <h4 class="post-subtitle">
                          Argentina's 
                    </h4>
                    </a>
                </div>
                <hr> -->
            </div>
        </div>
    </div>
    <br>
    <div class="banner6">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons-center">
                        </li>
                        <li><%= link_to "Buy the Book", "/subscribers", class: "btn btn-default btn-lg"%>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron2">
      <h3>Can't get enough Patagonia? Check out the adventures from my personal blog</h3>
    </div>
    <br>

    <script iframe-height="600" iframe-width="100%" iframe-src="https://story.mapme.com/c359d903-86e9-4d26-89e7-2007e3527d6b" src="https://hosting.mapme.com/story-embed.js"></script>

    <br>
    <hr>
    <br>

    <script iframe-height="600" iframe-width="100%" iframe-src="https://story.mapme.com/53db695e-2cab-42a8-86d0-3a5ddd81611b" src="https://hosting.mapme.com/story-embed.js"></script>
    <br>
    <hr>
    <br>
    <script iframe-height="600" iframe-width="100%" iframe-src="https://story.mapme.com/f23dcc2a-c8c2-4ccc-b496-711a6afa7180" src="https://hosting.mapme.com/story-embed.js"></script>
    <br>
    <hr>

  <%= render 'layouts/signup' %>
  <%= render 'layouts/footer' %>

</body>

</html>