<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Patagonia travel guide for backpackers and independent travelers. Information for camping, hiking, saving money, and finding adventures.">
    <meta name="keywords" content="Patagonia, Chile, Argentina, backpacking, budget, cheap, travel, hiking, camping, hostels, hitchhiking, book">
    <meta name="author" content="Matt Morgante">

    <title>Patagonia On A Budget Blog | Cheap backpacking, camping, and adventure travel in Chile and Argentina</title>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
  <%= render 'layouts/header' %>
    <% if flash.present? %>
      <div class="jumbotron3">
        <% flash.each do |name, msg| -%>
          <h4><%= content_tag :div, msg, class: name %></h4>
        <% end %>
      </div>
    <% end %>

    <!-- Header -->
    <div class="intro-header2">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Patagonia On A Budget</h1>
                        <h3>Have Your Adventure - For $30 A Day</h3>
                        <hr class="intro-divider">
                        <%= link_to image_tag("/assets/buy2.png", :alt => "buy patagonia on a budget on amazon", :width => 300, :height => 50, :align => "middle"), "https://www.amazon.com/Patagonia-Budget-Guide-Backpack-Argentina-ebook/dp/B01IM7ZQS8/ref=sr_1_1?ie=UTF8&qid=1468835306&sr=8-1"%>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Main Content -->
    <div class="jumbotron2">
        <h2>Blog Posts</h2>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                 <div class="post-preview">
                    <h2 class="post-title">
                          <%= link_to "The 7 Best Campsites in Patagonia", "/articles/best-campsites-in-patagonia" %>
                    </h2>
                    <h4 class="post-subtitle">
                      Save money while you sleep under the stars
                    </h4>
                    </a>
                </div>
                <hr>
                <div class="post-preview">
                    <h2 class="post-title">
                          <%= link_to "The Most Useful Apps for Traveling in Patagonia", "/articles/apps" %>
                    </h2>
                    <h4 class="post-subtitle">
                      Don't leave the app store without them
                    </h4>
                    </a>
                </div>
                <hr>
              <div class="post-preview">
                    <h2 class="post-title">
                          <%= link_to "The Best Websites For Finding Cheap Flights to Patagonia", "/articles/websites" %>
                    </h2>
                    <h4 class="post-subtitle">
                      Start saving money before you even arrive
                    </h4>
                    </a>
                </div>
                <hr>
                <div class="post-preview">
                    <h2 class="post-title">
                          <%= link_to "When is the best time to visit Patagonia?", "/articles/when-to-go-to-patagonia" %>
                    </h2>
                    <h4 class="post-subtitle">
                      Understanding the seasonality of Patagonia weather and prices
                    </h4>
                    </a>
                </div>
                <hr>
              <div class="post-preview">
                    <h2 class="post-title">
                          <%= link_to "Torres del Paine Camping and Hiking Guide", "/articles/torres-del-paine-camping-hiking-guide" %>
                    </h2>
                    <h4 class="post-subtitle">
                      Be prepared for Patagonia's most popular park
                    </h4>
                    </a>
                </div>
                <hr>
              <div class="post-preview">
                    <h2 class="post-title">
                          <%= link_to "How I spent $30/day in Patagonia", "/articles/budget" %>
                    </h2>
                    <h4 class="post-subtitle">
                      How much you can expect to spend by category
                    </h4>
                    </a>
                     <hr>
                </div>
                <div class="post-preview">
                    <h2 class="post-title">
                          <%= link_to "Top 10 Budget Activities", "/articles/activities" %>
                    </h2>
                    <h4 class="post-subtitle">
                      Where will your money go the furthest? 
                    </h4>
                    </a>
                </div>
                <hr>
                <div class="post-preview">    
                    <h2 class="post-title">
                          <%= link_to "How To Go Hitchhiking in Patagonia", "/articles/hitchhiking" %>
                    </h2>
                    <h4 class="post-subtitle">
                          The cheapest and most fun way to get around! 
                    </h4>
                    </a>
                </div>
                <hr>
                 <div class="post-preview">    
                    <h2 class="post-title">
                          <%= link_to "Finding Cheap Accommodation", "/articles/accommodation" %>
                    </h2>
                    <h4 class="post-subtitle">
                          Don't break the bank on expensive hostels and packaged tours 
                    </h4>
                    </a>
                </div>
                <hr>
                <div class="post-preview">    
                    <h2 class="post-title">
                          <%= link_to "Recommended Products", "/articles/packing" %>
                    </h2>
                    <h4 class="post-subtitle">
                          What to buy online before departing for Patagonia
                    </h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
  <%= render 'layouts/footer' %>

</body>

</html>