<%
meta title: "Torres del Paine Camping and Hiking Guide",
     description: "All the information you need to be prepared for hiking in Torres del Paine",
     keywords: %w(budget travel patagonia torres del paine)
%>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Torres del Paine Camping and Hiking Guide</title>

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

 <%= render 'layouts/header' %>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <br>
                    <h2 class="section-heading">Torres del Paine Camping and Hiking Guide</h2>
                    <p class="lead">If you think that traveling to Patagonia is prohibitively expensive, I wouldn't blame you. Just go ahead and take a look at this packaged tour from Adventure Life: <%= link_to "Classic W Trek.", "http://www.adventure-life.com/chile/tours/385/classic-w-trek" %></p>

                    <a href="#">
                        <img class="img-responsive center-block vertical-image" src="/assets/adventurelife.png" alt="Packaged tours">
                        </a>
                        <span class="caption text-muted">I'll show you how to do this $3,000 tour for less than $200!</span>
                    <br>

                    <p class="lead">Although they draw you in with the "reasonable" price of just $1,850, if you look a little closer you'll notice that to do the same trip when the weather is best (in the high season), you'll have to shell out over $3,000! <strong>But what if I told you a five day hiking trip through Torres del Paine National Park actually costs less than $200?</strong></p>

                    <p class="lead">You could take the same photos, hike on the same trails, and have the same wondrous experience in nature, all while saving thousands of dollars and removing the shackles of a group tour.Here is just a taste of what to expect:</p>

                    <a href="#">
                        <img class="img-responsive center-block vertical-image" src="/assets/sarmiento.jpg" alt="Lago Sarmiento in Torres del Paine">
                        </a>
                        <span class="caption text-muted">It take three full days of hiking to cross the beautiful Lago Sarmiento</span>
                    <br>

                    <a href="#">
                        <img class="img-responsive center-block vertical-image" src="/assets/glaciergrey.jpg" alt="Glacier Grey in Torres del Paine">
                        </a>
                        <span class="caption text-muted">The monstrous Glacier Grey is over 6 kilometers wide and more than 30 meters high!</span>
                    <br>

                    <p class="lead">Let's start by taking a look at what's actually included in the private tour. Outside of a tour guide, it basically boils down to accommodation and meals. They don't even provide round-trip flights for getting to and from Santiago and Punta Arenas! If you're comfortable camping and preparing your own food, you can save thousands of dollars by planning this type of trip yourself. Here's how to do it:</p>

                    <h2 class="section-heading2">1. Purchase or Rent Camping Gear</h2>

                    <p class="lead">Torres del Paine has long been world-renowned for its beauty and is Chile's most popular national park, which means it also has top-notch infrastructure. The W trek, a classic 5-day adventure, consists of two free campsites and two paid ones (each $7000 Chilean Pesos/ $10 US Dollars).</p>

                    <a href="#">
                        <img class="img-responsive center-block vertical-image" src="/assets/camping-min.jpg" alt="Camping in Torres del Paine">
                        </a>
                        <span class="caption text-muted">Campamento Grey in Torres del Paine National Park</span>
                    <br>

                    <p class="lead">To be prepared for sleeping under the stars, you'll need a tent, a sleeping bag, a sleeping mat, and cooking gear. There are three options here: bring your own from home (best quality), buy your own in Chile or Argentina (cheapest option), or rent some in Puerto Natales just before setting off for your hike (easiest option). Whatever you choose, travel knowing that you'll have a cheap and comfortable place to rest your head after a long day of hiking.</p>

                    <a href="#">
                        <img class="img-responsive center-block vertical-image" src="/assets/italiano.png" alt="Camping in Torres del Paine">
                        </a>
                        <span class="caption text-muted">Relaxing before tackling Valley Frances, one of the toughest climbs of the circuit.</span>
                    <br>

                    <p class="lead">On the other hand, if you're not comfortable camping yet still committed to visiting Torres del Paine, you'll have to shell out upwards of $60 US Dollars for a dorm bed in one of the refugios along the trail. These shelters provide warmth, shelter, and even can provide you with breakfast, boxed lunches, and dinner, but they don't come cheap. Expect to pay around $100 a day for full room and board.</p>

                    <p class="lead"> In Patagonia On A Budget, I've also detailed the ultimate list of everything you'll need for an independent backpacking adventure in South America. Pick up your copy on Amazon.com: <%= link_to "Patagonia On A Budget", "https://www.amazon.com/Patagonia-Budget-Guide-Backpack-Argentina-ebook/dp/B01IM7ZQS8"%></p> 

                    <h2 class="section-header2">2. Stock Up on Food</h2>

                    <p class="lead">If you've never carried your entire provisions on your back for multiple days in the wilderness, this might be a daunting task. It sure was for me! I was up until 1AM the night before the trek, packing and re-packing until I fell asleep in a heap of exhaustion.</p>

                    <p class="lead">The best way to pack for Torres del Paine is to select food that is calorically dense; items that will provide a lot of energy and nutrients without taking up too much space or weighing down your back. The best bets are oatmeal, pasta, trail mix, and dehydrated vegetables.</p>

                    <p class="lead">Once you arrive in Puerto Natales, two locations are mandatory to prepare for your trip to Torres del Paine: Erratic Rock Hostel and the Unimarc. Erratic Rock hosts a daily 3pm information session which answers all of your last minute questions, and the Unimarc is a grocery store which contains all the essentials you'll need for the trip.</p>

                     <p class="lead">Still have questions? Want detailed information about what exactly you need to pack? In Patagonia On A Budget, there's a special bonus section with specific instructions for camping, hiking, and cooking in national parks. Pick up your copy on Amazon.com: <%= link_to "Patagonia On A Budget", "https://www.amazon.com/Patagonia-Budget-Guide-Backpack-Argentina-ebook/dp/B01IM7ZQS8"%></p> 

                     <a href="#">
                        <img class="img-responsive center-block vertical-image" src="/assets/thew-min.jpg" alt="Patagonia On A Budget">
                        </a>
                        <span class="caption text-muted">The view from the top of Valley Frances in the middle of Torres del Paine</span>
                    <br>

                     <h2 class="section-header2">3. Reserve your Campsites</h2>
                     
                     <p class="lead">Starting in 2016 there are new rules for the campsites within Torres del Paine. For the first time the national park service, CONAF, has introduced an online booking system. Make your reservations in advance by following the instructions here <%= link_to "www.parquetorresdelpaine.cl/en", "http://www.parquetorresdelpaine.cl/" %>

                    <h2 class="section-header2">4. Prepare Your Budget</h2>

                    <p class="lead">Here are all of the costs you'll incur for a 5 day hike on the W (all prices in Chilean Pesos).</p>

                    <ul>
                        <li><p class="lead">Bus from Puerto Natales to Torres del Paine: $15,000 round trip</p></li>
                        <li><p class="lead">Catamaran across the lake: $15,000 one way </p></li>
                        <li><p class="lead">Entrance Fee: $21,000</p></li>
                        <li><p class="lead">Campsites: $7,000 each - 2 free campsites and 2 paid campsites on the W , 3 free campsites and 4 paid campsites on the O</p></li>
                        <li><p class="lead">Average cost of food per day: $6,000 (includes 3 meals, drinks, and snacks)</p></li>
                    </ul>

                    <p class="lead">If you follow all of this advice, your total cost for the W trek will be less than $100,000 CLP, which is about $150 US Dollars. Plus if you've got some extra time, you can make the most of your entrance fee by tackling the 8 day "O Trek", which is even more fantastic and remote.</p>

                    <a href="#">
                        <img class="img-responsive center-block vertical-image" src="/assets/cuernos.jpg" alt="Cuernos in Torres del Paine">
                        </a>
                        <span class="caption text-muted">Hiking beneath the storied Cuernos, one of the most beautiful and alluring mountain ranges in the world, without a soul in sight!</span>
                    <br>

                    <p class="lead">Even after taking into account the cost of renting or purchasing additional gear, you'll still have thousands leftover compared to a packge tour. Now the only question is: what will you choose to do with all that extra money? Hopefully continue exploring Patagonia! Check out some more advice below.</p>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <div class="jumbotron2"><h3>Related Articles</h3></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"><img style="max-height:200px" class="img-responsive center-block" src="/assets/budget.png" alt="Patagonia Budget Travel"><br><h5><%= link_to "How much you can expect to spend in each category during a trip to Patagonia", "/articles/budget" %></h5></div>

            <div class="col-md-4"><img style="max-height:200px" class="img-responsive center-block" src="/assets/packing-min.png" alt="Recommended Products for traveling in Patagonia"><br><h5><%= link_to "Don't leave home without it! The products you need to purchase online before heading out for your trip.", "/articles/packing" %></h5></div>

            <div class="col-md-4"><img style="max-height:200px"  class="img-responsive center-block" src="/assets/rafting-min.jpg" alt="Rafting in Patagonia"><br><h5><%= link_to "Where will your money go the furthest? Make sure you know the Top 10 Budget Activities in Patagonia.", "/articles/activities" %></h5></div>
        </div>
    </div>
    <hr>

  <%= render 'layouts/signup' %>

  <%= render 'layouts/footer' %>

</body>

</html>
