<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Patagonia On A Budget</title>

    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<%= render 'layouts/header' %>
<body>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Patagonia On A Budget</h1>
                        <h3>Have Your Adventure - For $30 A Day</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <%= link_to "Buy the Book", "/subscribers", class: "btn btn-default btn-lg"%>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->



  <a  name="services"></a>
      <div class="jumbotron">
        <h2>What is it?</h2>
        <p>Patagonia on a Budget is a travel guide for budget travelers and backpackers who want the insider secrets on traveling in Patagonia. The book is written by travelers, for travelers; it contains information simply not available anywhere else and is designed to help you travel through the entire Patagonia region on $30/day!</p>
    </div>

    <div class="banner2">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h2>Travel Longer, Cheaper, and Stress-Free</h2>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner2 -->  
    <div class="jumbotron6">
      <div class="pitch"> 
        <br>
      <h3>Have you ever dreamed of traveling to Patagonia?</h3>

      <p>I know I did...</p>

      <p>While backpacking down the coast of South America, I had trepidation about going all the way to Patagonia. In a world of urban development and constant connectivity, this region stands alone as the ultimate destination to get away from it all. I dreamed of experiencing the power of glaciers and freely exploring the vast national parks, but travel blogs and guide books warned me it was expensive, and I was scared it would eat away my travel funds.</p>

      <h3>Patagonia can be very expensive</h3>

      <p>If you've done research online like I did, you probably think a trip to Patagonia will cost thousands of dollars. Advertised prices on travel websites can be insane. Just check out a few examples: </p>

        <div class="row">
          <div class="col-md-4"><img style="max-height:200px" class="img-responsive center-block" src="/assets/tripadvisor.png" alt="Trip Advisor Package Tour to Patagonia"><br><h5>TripAdvisor would like you to believe it costs $750 to spend 3 days hiking in Los Glacieras National Park. In reality, you can do this same exact trip for less than $20!</h5></div>

          <div class="col-md-4"><img style="max-height:200px" class="img-responsive center-block" src="/assets/viator.png" alt="Viator Package Tour to Patagonia"><br><h5>Or how about two weeks in Patagonia with Viator? It will run you more than $1,500. Using Patagonia On A Budget you can visit all the exact same sites for less than $400, leaving you an extra $1,100 to spend on your trip!</h5></div>
          <div class="col-md-4"><img style="max-height:200px"  class="img-responsive center-block" src="/assets/adventuretour.png" alt="Wildlife Tour to Patagonia"><br><h5>Even if you're just headed to Torres del Paine National Park, Adventure Life will charge you an absurd $1,900. Instead, I'll walk you through the details and information you need to replicate this itinerary for less than $200!</h5></div>
        </div>
        <br>
      <h3>But there's always Lonely Planet, right?</h3>

      <p>Usually, guide books can be great resources for planning itineraries and feature reputable prices. But even picking up a guide book for Patagonia had me shuddering. The cheapest hostel in town is $25/night? Especially for Patagonia, these books compile expensive hotels and only the most famous sights, ignoring helpful resources for budget travelers!</p>

      <p>Plus, many Patagonia guides are outdated. Enormous inflation has caused prices to triple or quadruple since the most recent version, so you can't rely on the information anymore.</p>

      <p>I get it. Planning a trip to Patagonia can be frustrating. That's why I wrote Patagonia On A Budget. </p>

      <h3>In reality, Patagonia can cost just $30/day!</h3>

      <p>As I continued further South into this land of resplendent beauty, I was surprised to find that it wasn't nearly as expensive as everyone makes it out to be. In fact, <%= link_to "I traveled through the entire region on just $26/day", "/articles/budget" %> without missing out on any of the sights.</p>

      <p>Now I want to enable others to have a life-changing adventure of their own! It's my belief that Patagonia's powerful glaciers, tremendous mountains, and uniquely hospitable inhabitants should be accessible to more people, not just those with thousands of dollars to spare. 

      <p>In this book, I have compiled the tactics and insider information necessary for backpacking across all of Patagonia. Plus, I'll filter through the noise to show you the most spectacular things to do, the best places to stay, and the tactics you need to keep it all under budget. Best of all, these are the REAL PRICES, researched and personally experienced by real backpackers.</p>

      <p>Patagonia On A Budget will thoroughly prepare you for life on the road, help you navigate while traveling, remove barriers, and provide vital details simply not available anywhere else. Ready for your adventure? Let's dive in...</p>


<!--       <h3>What are you waiting for?</h3>

      <p>Patagonia is a land of almost mythical beauty</p>

      <p>If you love spending time outdoors, want to experience the glaciers before they melt away, and enjoy going hiking and camping through the wilderness, the Southern tip of Chile and Argentina is for you!</p> -->
      <!-- You'll be ready thanks to comprehensive preparation resources; once on the ground you'll know the best value for accommodation and adventure in each town. -->
    </div> 
    <!-- close jumbotron -->
  </div>
  <!-- close container -->
  <hr>

  <div class="jumbotron2">
    <h2>What's Inside?</h2>
  </div>  

<hr>

  <div class="purchase">
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron5">
          <h2>You'll Learn...</h2>
        </div>    
        <br>
        <ul>
          <li><h4>The best value on the craziest adventures</h4></li>
          <li><h4>Prices and details for accommodation, transportation, and activities in every destination</h4></li>
          <li><h4>Detailed maps and itineraries of the most popular backpacking routes</h4></li>
          <li><h4>Recommended campgrounds with the best rates and facilities</h4></li>
          <li><h4>Instructions and safety advice for hitchhiking</h4></li>
          <li><h4>The only packing list you'll ever need for camping</h4></li>
          <li><h4>Details about the 3 biggest money saving techniques for travelers in Patagonia</h4></li>
          <li><h4>The electronics, websites, and applications to depend on during your expedition</h4></li>
          <li><h4>Real prices specifically researched and compared by fellow travelers</h4></li>
          <li><h4>A special bonus guide on packing and cooking during long hikes through national parks</h4></li>
          <br>
          <div class="buybutton">
              <%= link_to image_tag("/assets/buy2.png", :alt => "buy button", :width => 300, :height => 50, :align => "middle"), "https://www.amazon.com/Patagonia-Budget-Guide-Backpack-Argentina-ebook/dp/B01IM7ZQS8/ref=sr_1_1?ie=UTF8&qid=1468835306&sr=8-1"%> 
          </div>
          <br>
      </div>
      <div class="col-md-6"><img style="max-height:600px" style="max-width:400px"class="img-responsive center-block" src="/assets/cover-min.jpg" alt="ebook cover"></div>
    </div>
  </div>
    <div class="content-section-a">

      <div class="container">
          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2><%= link_to "Save on Accommodation", "/articles/accommodation", class: "section-heading"%></h2>
                  <p class="lead">Pitch your tent in the middle of the best national parks, wake up to the sound of crashing glaciers, and get away from it all in the endless expanse of nature. Plus, the cheapest places to stay, the hostels not listed online, and the best ways to score deals on accommodation. </p>
                  <br>
                  <div class="centerbutton">
                  <%= link_to "Read More", "/articles/accommodation", class: "btn btn-default btn-lg"%>
                  </div>
              </div>
              <br>

              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="img-responsive" src="/assets/camping-min.png" alt="camping">
              </div>
          </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2><%= link_to "The Best Value for Activities", "/articles/activities", class: "section-heading"%></h2>
                    <p class="lead">Where will your money go the furthest for big adventures? The best places to walk across a glacier, go white water rafting, climb a volcano, and much more!</p>
                    <br>
                    <div class="centerbutton">
                      <%= link_to "Read More", "/articles/activities", class: "btn btn-default btn-lg"%>
                    </div>
                </div>
                <br>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/assets/rafting-min.png" alt="rafting">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2><%= link_to "Worry-free Hitchhiking", "/articles/hitchhiking", class: "section-heading"%></h2>
                    <p class="lead">Detailed guides for hitchhiking between specific destinations, advice for staying safe on the road, and a Spanish quickstart guide to help you easily catch a ride.</p>
                    <br>
                    <div class="centerbutton">
                      <%= link_to "Read More", "/articles/hitchhiking", class: "btn btn-default btn-lg"%>
                    </div>
                </div>   
                <br>    
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="assets/hitchhiking-min.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->



    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2><%= link_to "What To Bring", "/articles/packing", class: "section-heading"%></h2>
                    <p class="lead">Be prepared with comprehensive packing advice: a full packing list, 
                    details for mastering long hiking routes with less stress, and all the essentials you'll need for camping and traveling in Patagonia.
                    </p>
                    <br>
                    <div class="centerbutton">
                      <%= link_to "Read More", "/articles/packing", class: "btn btn-default btn-lg"%>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/assets/packing-min.png" alt="rafting">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2><%= link_to "Budgeting Breakdown", "/articles/budget", class: "section-heading"%></h2>
                    <p class="lead">How to find the cheapest hostels (even the ones that aren't listed online), detailed spending guides for all the major activities and national parks, how much basic essentials cost, and real prices updated for the 2016-2017 season!</p>
                    <br> 
                    <div class="centerbutton">
                      <%= link_to "Read More", "/articles/budget", class: "btn btn-default btn-lg"%>
                    </div>
                </div>                                            
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= render 'layouts/chart' %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="jumbotron2">
        <h2>And much more!</h2>
    </div>

  <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Start Your Adventure:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li><%= link_to "Read the Blog", "/articles/index", class: "btn btn-default btn-lg"%>
                        </li>
                        <li><%= link_to "Buy the Book", "/subscribers", class: "btn btn-default btn-lg"%>
                        </li>
                        
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>

    <%= render 'layouts/signup' %>

    <hr>

<!--     <div class="jumbotron2">
        <h2>Table of Contents</h2>
      <div class="table-contents">
        <h2> Part 1: Welcome to Patagonia </h2>
        <ul>
          <li><h4>Introduction</h4></li>          
          <li><h4>Highlights</h4></li>
          <li><h4>Itineraries</h4></li>
            <ul> 
              <li><h4>Deep South</h4></li>  
              <li><h4>Lakes and Volcanoes</h4></li>  
              <li><h4>Carretera Austral</h4></li>  
            </ul>
        </ul>
        <br>
        <h2> Part 2: Before You Go </h2>
        <ul>
          <li><h4>Budgeting Breakdown<h4></li>
            <ul>
              <li><h4>Accommodation<h4></li>
              <li><h4>Eating<h4></li>
              <li><h4>Transportation<h4></li>
              <li><h4>Activities<h4></li>
              <li><h4>Miscellaneous<h4></li>
            </ul>
          <li><h4>The Gear</h4></li>
            <ul>
              <li><h4>The Bag<h4></li>
              <li><h4>Packing List<h4></li>
              <li><h4>Camping Essentials<h4></li>
              <li><h4>Bag of Provisions<h4></li>
            </ul>
          <li><h4>Staying Safe</h4></li>
         </ul>
         <br>
         <h2> Part 3: Destinations </h2>
        <ul>
          <li><h4>Lakes and Volcanoes<h4></li>
            <ul>
              <li><h4>Pucon<h4></li>
              <li><h4>Puerto Varas<h4></li>
              <li><h4>Cochamo Valley<h4></li>
              <li><h4>Bariloche<h4></li>
              <li><h4>El Bolson<h4></li>
            </ul>
          <li><h4>Route 40</h4></li>
          <li><h4>Carretera Austral<h4></li>
            <ul>
              <li><h4>Chaiten<h4></li>
              <li><h4>Futaleufu<h4></li>
              <li><h4>La Junta<h4></li>
              <li><h4>Puyuhuapi<h4></li>
              <li><h4>Coyhaique<h4></li>
              <li><h4>Cerro Castillo<h4></li>
              <li><h4>Puerto Rio Tranquilo<h4></li>
              <li><h4>Chile Chico<h4></li>
              <li><h4>Cochrane<h4></li>
              <li><h4>Caleta Tortel<h4></li>
              <li><h4>Villa O'Higgins<h4></li>
            </ul>
          <li><h4>Deep South<h4></li>
            <ul>
              <li><h4>El Chalten<h4></li>
              <li><h4>El Calafate<h4></li>
              <li><h4>Puerto Natales<h4></li>
              <li><h4>Torres del Paine<h4></li>
              <li><h4>Punta Arenas<h4></li>
              <li><h4>Ushuaia<h4></li>
            </ul>
          </ul>
        <br>
        <h2> Part 4: Ready For Anything </h2>
          <ul>
            <li><h4>Long Hiking Guide</h4></li>
            <li><h4>Spanish Quickstart Guide</h4></li>
            <li><h4>Cultural Quirks</h4></li>
          </ul>
        



      </div>
    </div> -->


    <!-- /.banner -->
    <%= render 'layouts/footer' %>

</body>

</html>
