<%= render 'layouts/header' %>

<div class="content-section-a">

  <div class="container">
      <div class="row">
          <div class="col-lg-5 col-sm-6">
              <hr class="section-heading-spacer">

              <div class="clearfix"></div>
              <% if flash.present? %>
                <div class="jumbotron4">
                  <% flash.each do |name, msg| -%>
                    <h4><%= content_tag :div, msg, class: name %></h4>
                  <% end %>
                </div>
              <% end %>

             <h2>Purchase</h2>

             <p class="lead">Patagonia On A Budget is now available for pre-order exlusively on Amazon!</p>

             <div class="buybutton">
              <%= link_to image_tag("/assets/buy2.png", :alt => "Buy Patagonia On A Budget on Amazon", :width=> 300, :height=> 50, :align => "middle"), " https://www.amazon.com/Patagonia-Budget-Guide-Backpack-Argentina-ebook/dp/B01IM7ZQS8/ref=sr_1_1?ie=UTF8&qid=1468835306&sr=8-1"%> 
            </div>


             <p class="lead">If you want to be notified when the book is published, sign up here.</p>


             	<%= form_for @subscriber do |f| %>
	           		<%= f.text_field :name, placeholder: "Name", class: 'form-control' %>
	           		<br>
	           		<%= f.email_field :email, placeholder: "Email", class: 'form-control' %>
	          		<br>
                <h4>How did you hear about us?</h4>
	          		<%= f.select(:source, ["Select An Option...", "Search Engine", "Social Media", "Word of Mouth", "Reddit", "Other"], {}, { class: 'form-control'})%>
	         			<br>
	         			<br>
                <div class="centerbutton">
	           		  <%= f.submit "Sign Up", class: 'btn btn-large btn-default' %>
                </div>
	            <% end %>
           		
           		<p class="lead">In the meantime, please check out <%= link_to "Our Blog", "articles/index" %> for all the latest news and traveling advice!</p>
           
          </div>
          <br>

          <div class="col-lg-5 col-lg-offset-1 col-sm-6">
              <img class="img-responsive" src="/assets/cover-min.jpg" alt="ebook cover">
          </div>
      </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->
<%= render 'layouts/footer' %>

<!-- 

<div class="jumbotron">
	<h4>U </h4>
	<%= link_to "Read The Blog", "/articles/index", class: "btn btn-default btn-lg"%>

</div>

<%= render 'layouts/footer' %> -->