<%= render 'layouts/header' %>

<div class="content-section-a">

  <div class="container">
      <div class="row">
          <div class="col-lg-5 col-sm-6">
              <hr class="section-heading-spacer">

              <div class="clearfix"></div>
              <% if flash.present? %>
                <div class="jumbotron4">
                  <% flash.each do |name, msg| -%>
                    <h4><%= content_tag :div, msg, class: name %></h4>
                  <% end %>
                </div>
              <% end %>

             <h3>Patagonia On A Budget is now available for pre-order exlusively on Amazon!</h3>
             <br>

             <div class="buybutton">
              <%= link_to image_tag("/assets/buy2.png", :alt => "Buy Patagonia On A Budget on Amazon", :width=> 300, :height=> 50, :align => "middle"), " https://www.amazon.com/Patagonia-Budget-Guide-Backpack-Argentina-ebook/dp/B01IM7ZQS8/ref=sr_1_1?ie=UTF8&qid=1468835306&sr=8-1"%> 
            </div>

            <h3>Want to know more about what's inside? Keep scrolling...</h3>


             <p class="lead">If you want to be notified when the book is published, sign up here.</p>


             	<%= form_for @subscriber do |f| %>
	           		<%= f.text_field :name, placeholder: "Name", class: 'form-control' %>
	           		<br>
	           		<%= f.email_field :email, placeholder: "Email", class: 'form-control' %>
	          		<br>
                <h4>How did you hear about us?</h4>
	          		<%= f.select(:source, ["Select An Option...", "Search Engine", "Social Media", "Word of Mouth", "Reddit", "Other"], {}, { class: 'form-control'})%>
	         			<br>
	         			<br>
                <div class="centerbutton">
	           		  <%= f.submit "Sign Up", class: 'btn btn-large btn-default' %>
                </div>
	            <% end %>
           
          </div>
          <br>

          <div class="col-lg-5 col-lg-offset-1 col-sm-6">
              <img class="img-responsive" src="/assets/cover-min.jpg" alt="ebook cover">
          </div>
      </div>

  </div>
  <!-- /.container -->

<hr>

  <div class="content-section-a">

      <div class="container">
          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2>Detailed Itineraries</h2>
                  <p class="lead">Have two weeks for your trip? Two months? Either way, plan out your stops with detailed itineraries for each region, including high-quality emoji maps to quickly understand the best sights in each region.</p>
                  <br>
              </div>
              <br>

              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="img-responsive" src="/assets/emojimap.png" alt="Lakes District Map">
              </div>
          </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2>Easy to Navigate</h2>
                    <p class="lead">Taking all the content from a regular guide book and converting it to an e-book makes for a horrible user experience. With clickable links, this book is specifically designed for easy navigation on mobile devices, tablets, e-readers, and desktops.</p>
                    <br>
                </div>
                <br>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/assets/links.png" alt="clickable links">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div><!-- /.content-section-b -->

  <div class="content-section-a">

      <div class="container">
          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2>Destination Guides</h2>
                  <p class="lead">Be prepared with all the information you need to hitchhike or take the bus between destinations. Then once you arrive, know the exact prices of hostels, campgrounds, and the most stunning sights.</p>
                  <br>
              </div>
              <br>

              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="img-responsive" src="/assets/pucon.png" alt="What to do in Pucon">
              </div>
          </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

</div>
<!-- /.content-section-a -->

<div class="jumbotron2">

<h2>Ready to get started?</h2>
    <br>
      <div class="buybutton">
                <%= link_to image_tag("/assets/buy2.png", :alt => "buy button", :width => 300, :height => 50, :align => "middle"), "https://www.amazon.com/Patagonia-Budget-Guide-Backpack-Argentina-ebook/dp/B01IM7ZQS8/ref=sr_1_1?ie=UTF8&qid=1468835306&sr=8-1"%> 
      </div>
      <br>
</div>

<div class="jumbotron2">
  <h2>Table of Contents</h2>
    <div class="table-contents">
    <h2> Part 1: Welcome to Patagonia </h2>
    <ul>
      <li><h4>Introduction</h4></li>          
      <li><h4>Highlights</h4></li>
      <li><h4>Itineraries</h4></li>
        <ul>  
          <li><h4>Lakes and Volcanoes</h4></li>  
          <li><h4>Carretera Austral</h4></li> 
          <li><h4>Deep South</h4></li>  
        </ul>
    </ul>
    <br>
    <h2> Part 2: Before You Go </h2>
    <ul>
      <li><h4>Budgeting Mindset<h4></li>
        <ul>
            <li><h4>Accommodation<h4></li>
            <li><h4>Camping<h4></li>
            <li><h4>Eating<h4></li>
            <li><h4>Transportation<h4></li>
            <li><h4>Hitchhiking<h4></li>
            <li><h4>Activities<h4></li>
            <li><h4>Miscellaneous<h4></li>
        </ul>
      <li><h4>The Gear</h4></li>
        <ul>
          <li><h4>The Bag<h4></li>
          <li><h4>Minimalist Packing List<h4></li>
          <li><h4>Apps and Websites<h4></li>
          <li><h4>Electronics<h4></li>
          <li><h4>DSLR vs. GoPro<h4></li>
          <li><h4>Camping Essentials<h4></li>
          <li><h4>Bag of Provisions<h4></li>
        </ul>
      <li><h4>Travel Insurance</h4></li>
      <li><h4>When to go?</h4></li>
      <li><h4>Recommended Reading</h4></li>
      <li><h4>Exchanging and Accessing Money</h4></li>
      <li><h4>Visa and Entry Requirements</h4></li>
      <li><h4>Staying Safe</h4></li>
     </ul>
     <br>
     <h2> Part 3: Destinations</h2>
    <ul>
      <li><h4>Los Lagos<h4></li>
        <ul>
          <li><h4>Pucon<h4></li>
          <li><h4>Puerto Varas<h4></li>
          <li><h4>Cochamo Valley<h4></li>
          <li><h4>Bariloche<h4></li>
          <li><h4>El Bolson<h4></li>
        </ul>
      <li><h4>Ruta 40</h4></li>
      <li><h4>Carretera Austral<h4></li>
        <ul>
          <li><h4>Chaiten<h4></li>
          <li><h4>Futaleufu<h4></li>
          <li><h4>La Junta<h4></li>
          <li><h4>Puyuhuapi<h4></li>
          <li><h4>Coyhaique<h4></li>
          <li><h4>Cerro Castillo<h4></li>
          <li><h4>Puerto Rio Tranquilo<h4></li>
          <li><h4>Chile Chico<h4></li>
          <li><h4>Cochrane<h4></li>
          <li><h4>Caleta Tortel<h4></li>
          <li><h4>Villa O'Higgins<h4></li>
        </ul>
      <li><h4>Deep South<h4></li>
        <ul>
          <li><h4>El Chalten<h4></li>
          <li><h4>Los Glaciares National Park<h4></li>
          <li><h4>El Calafate<h4></li>
          <li><h4>Puerto Natales<h4></li>
          <li><h4>Torres del Paine National Park<h4></li>
          <li><h4>Punta Arenas<h4></li>
          <li><h4>Ushuaia<h4></li>
        </ul>
      </ul>
    <br>
    <h2> Part 4: Ready For Anything </h2>
      <ul>
        <li><h4>Long Hikes</h4></li>
        <li><h4>Spanish Quickstart Guide</h4></li>
        <li><h4>Patagonian Culture</h4></li>
      </ul>
  </div>
</div>
<hr>
<div class="jumbotron2">

<h2>Ready to get started?</h2>
    <br>
      <div class="buybutton">
                <%= link_to image_tag("/assets/buy2.png", :alt => "buy button", :width => 300, :height => 50, :align => "middle"), "https://www.amazon.com/Patagonia-Budget-Guide-Backpack-Argentina-ebook/dp/B01IM7ZQS8/ref=sr_1_1?ie=UTF8&qid=1468835306&sr=8-1"%> 
      </div>
      <br>
</div>

<%= render 'layouts/footer' %>

<!-- 

<div class="jumbotron">
	<h4>U </h4>
	<%= link_to "Read The Blog", "/articles/index", class: "btn btn-default btn-lg"%>

</div>

<%= render 'layouts/footer' %> -->