<div class="jumbotron">
    <h2>Subscribe for Budget Travel Tips and Updates</h2>
    <br>
    <%= form_for @subscriber do |f| %>
        <%= f.text_field :name, placeholder: "Name", class: 'form-control' %>
        <br>
        <%= f.email_field :email, placeholder: "Email", class: 'form-control' %>
        <br>
        <h4>How did you hear about us?</h4>
        <%= f.select(:source, ["Select An Option...", "Search Engine", "Social Media", "Word of Mouth", "Reddit", "Other"], {}, { class: 'form-control'})%>
        <br>
        <br>
        <%= f.submit "Sign Up", class: 'btn btn-large btn-default'%>
    <% end %>

    <h2>Ready to get started? Purchase the book!</h2>
    <br>
      <div class="buybutton">
                <%= link_to image_tag("/assets/buy2.png", :alt => "buy button", :width => 300, :height => 50, :align => "middle"), "https://www.amazon.com/Patagonia-Budget-Guide-Backpack-Argentina-ebook/dp/B01IM7ZQS8/ref=sr_1_1?ie=UTF8&qid=1468835306&sr=8-1"%> 
      </div>
</div>