<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/google_analytics' %>
  <%= render 'favicon' %>
  <%= canonical_tag -%>

  <%= metamagic title: "Patagonia On A Budget | Guidebook for travel in Chile and Argentina", description: "Patagonia travel guide for backpackers and independent travelers. Information for camping, hiking, saving money, and finding adventures.", keywords: %w(Patagonia Chile Argentina backpacking budget cheap travel hiking camping hostels hitchhiking book) %> 
</head>

</head>
<body>
	 
<%= yield %>

</body>
</html>
